<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @reserva.user %>
</p>

<p>
  <strong>Livro:</strong>
  <%= @reserva.livro %>
</p>

<p>
  <strong>Retirado:</strong>
  <%= @reserva.retirado %>
</p>

<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>
