<div class="page-header">
  <h1>Livros</h1>
</div>

<%= render partial: "search_form" %>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Titulo</th>
                <th>Publicacao</th>
                <th>Editora</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% @livros.each do |livro| %>
                <tr>
                  <td><%= livro.titulo %></td>
                  <td><%= ldate livro.publicacao, :long %></td>
                  <td><%= livro.editora.nome %></td>
                  <td>
                    <%= link_to 'Exibir', admin_livro_path(livro), class: 'btn btn-xs btn-default' %>
                    <%= link_to 'Editar', edit_admin_livro_path(livro), class: 'btn btn-xs btn-default' %>
                    <%= link_to 'Deletar', admin_livro_path(livro), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-xs btn-danger' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @livros %>
        </div>
      </div>
    </div>
  </div>
</div>