
<div class="page-header">
  <h1>Emprestimos</h1>
</div>

<%= render partial: "search_form" %>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Aluno</th>
                <th>Bibliotecario</th>
                <th>Dt. prev. Devolução</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% @emprestimos.each do |emprestimo| %>
                <tr>
                  <td><%= emprestimo.aluno.nome %></td>
                  <td><%= emprestimo.bibliotecario.nome %></td>
                  <td><%= ldate emprestimo.data_prev_dev :long %></td>
                  <td>
                    <%= link_to 'Exibir', admin_emprestimo_path(emprestimo), class: 'btn btn-xs btn-default' %>
                    <%= link_to 'Editar', edit_admin_emprestimo_path(emprestimo), class: 'btn btn-xs btn-default' %>
                    <%= link_to 'Deletar', admin_emprestimo_path(emprestimo), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-xs btn-danger' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @emprestimos %>
        </div>
      </div>
    </div>
  </div>
</div>
