<p id="notice"><%= notice %></p>

<h1>Emprestimos</h1>

<table>
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Bibliotecario</th>
      <th>Data prev ret</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emprestimos.each do |emprestimo| %>
      <tr>
        <td><%= emprestimo.aluno %></td>
        <td><%= emprestimo.bibliotecario %></td>
        <td><%= emprestimo.data_prev_ret %></td>
        <td><%= link_to 'Show', emprestimo %></td>
        <td><%= link_to 'Edit', edit_emprestimo_path(emprestimo) %></td>
        <td><%= link_to 'Destroy', emprestimo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emprestimo', new_admin_emprestimo_path %>
