<p id="notice"><%= notice %></p>

<h1>Exemplars</h1>

<table>
  <thead>
    <tr>
      <th>Livro</th>
      <th>Emprestimo</th>
      <th>Aquisicao</th>
      <th>Situacao</th>
      <th>Em emprestimo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exemplars.each do |exemplar| %>
      <tr>
        <td><%= exemplar.livro %></td>
        <td><%= exemplar.emprestimo %></td>
        <td><%= exemplar.aquisicao %></td>
        <td><%= exemplar.situacao %></td>
        <td><%= exemplar.em_emprestimo %></td>
        <td><%= link_to 'Show', exemplar %></td>
        <td><%= link_to 'Edit', edit_exemplar_path(exemplar) %></td>
        <td><%= link_to 'Destroy', exemplar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exemplar', new_exemplar_path %>
