<div class="row">
  <div class="col-sm-8">
    <%= simple_form_for([:admin, @exemplar], wrapper: :vertical_form, html: { class: "form-vertical", role: "form" }) do |f| %>

      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.association :livro, collection: Livro.order("titulo ASC").all.collect {|e| [e.titulo, e.id]} %>
        <!--%= f.association :emprestimo %-->
        <%= f.input :aquisicao%>
        <%= f.input :situacao %>
        <% if :situacao %>
          <div>
            <input type="checkbox" id="exemplar[em_emprestimo]" name="exemplar[em_emprestimo]">
            <label for="exemplar[:em_emprestimo]">Em emprestimo</label>
          </div>
        <% else %>
          <div>
            <label for="exemplar[:em_emprestimo]">Em emprestimo</label>
            <input type="checkbox" id="exemplar[em_emprestimo]" name="exemplar[em_emprestimo]" value=>
          </div>
        <% end %>
      </div>

      <div class="form-actions">
        <%= f.submit "Salvar", :class => 'btn btn-primary' %>
        <%= link_to "Cancelar", admin_uos_path, :class => 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
