<li class="<%= 'active' if params[:controller] == 'home' %>">
  <%= link_to home_path do %>
    <i class="fa fa-dashboard fa-fw"></i>
    <span class="nav-label">Início</span>
  <% end %>
</li>
<%
 acessos_selected = params[:controller] == 'admin/uos' || params[:controller] == 'admin/users' || params[:controller] == 'admin/roles'
%>
<% if can?(:index, Uo) || can?(:index, User) || can?(:index, Role) %>
  <li class="<%= 'active' if acessos_selected %>">
    <%= link_to "#" do %>
      <i class="fa fa-users fa-fw"></i>
      <span class="nav-label">Acessos</span>
      <span class="fa arrow"></span>
    <% end %>
    <ul class="nav nav-second-level">
      <% if can?(:index, Uo) %>
        <li class="<%= 'active' if params[:controller] == 'admin/uos' %>">
          <%= link_to admin_uos_path do %>
            <i class="fa fa-graduation-cap fa-fw"></i>
            Uos
          <% end %>
        </li>
      <% end %>
      <% if can?(:index, User) %>
        <li class="<%= 'active' if params[:controller] == 'admin/users' %>">
          <%= link_to admin_users_path do %>
            <i class="fa fa-user fa-fw"></i>
            Usuários
          <% end %>
        </li>
      <% end %>
      <% if can?(:index, Role) %>
        <li class="<%= 'active' if params[:controller] == 'admin/roles' %>">
          <%= link_to admin_roles_path do %>
            <i class="fa fa-cubes fa-fw"></i>
            Papéis
          <% end %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>

<% if can?(:index, Emprestimo) %>
  <li class="<%= 'active' if params[:controller] == 'admin/emprestimos' %>">
    <%= link_to admin_emprestimos_path do %>
      <i class="fa fa-arrow-circle-o-right fa-fw"></i>
      Emprestimos
    <% end %>
  </li>
<% end %>

<% if can?(:index, Assunto) %>
  <li class="<%= 'active' if params[:controller] == 'admin/assuntos' %>">
    <%= link_to admin_assuntos_path do %>
      <i class="fa fa-cubes fa-fw"></i>
      Assuntos
    <% end %>
  </li>
<% end %>

<% if can?(:index, Autor) %>
  <li class="<%= 'active' if params[:controller] == 'admin/autores' %>">
    <%= link_to admin_autores_path do %>
      <i class="fa fa-pencil-square-o fa-fw"></i>
      Autores
    <% end %>
  </li>
<% end %>

<% if can?(:index, Devolucao) %>
  <li class="<%= 'active' if params[:controller] == 'admin/devolucoes' %>">
    <%= link_to admin_devolucoes_path do %>
      <i class="fa fa-arrow-circle-o-left fa-fw"></i>
      Devoluções
    <% end %>
  </li>
<% end %>

<% if can?(:index, Editora) %>
  <li class="<%= 'active' if params[:controller] == 'admin/editoras' %>">
    <%= link_to admin_editoras_path do %>
      <i class="fa fa-cubes fa-fw"></i>
      Editoras
    <% end %>
  </li>
<% end %>

<% if can?(:index, Exemplar) %>
  <li class="<%= 'active' if params[:controller] == 'admin/exemplares' %>">
    <%= link_to admin_exemplares_path do %>
      <i class="fa fa-book fa-fw"></i>
      Exemplares
    <% end %>
  </li>
<% end %>

<% if can?(:index, Livro) %>
  <li class="<%= 'active' if params[:controller] == 'admin/livros' %>">
    <%= link_to admin_livros_path do %>
      <i class="fa fa-book fa-fw"></i>
      Livros
    <% end %>
  </li>
<% end %>

<% if can?(:index, Reserva) %>
  <li class="<%= 'active' if params[:controller] == 'admin/reservas' %>">
    <%= link_to admin_reservas_path do %>
      <i class="fa fa-cubes fa-fw"></i>
      Reservas
    <% end %>
  </li>
<% end %>
